# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfplan

# Generated local SSM configuration files (created by scripts/setup.sh)
ssm/bootstrap-config.json
ssm/ipsec.conf
ssm/vhost.conf
ssm/psk
ssm/remote-gateway
ssm/remote-hosts

# Sensitive / Local override tracking files
*.local.md
*.secret
.env
.env.*

# macOS
.DS_Store

# Editor
*.swp
*.swo
.idea/
.vscode/
